<h1>Detalle del Convenio</h1>

<p><strong>Unidad Receptora:</strong> <%= convenio.unidadReceptora %></p>
<p><strong>Folio:</strong> <%= convenio.nombreConvenio %></p>
<p><strong>Estatus:</strong> <%= convenio.estatus %></p>

<a href="/convenios/nuevo">Crear otro convenio</a>
