</main>
<footer class="bg-light py-3">
  <div class="container text-muted">© <%= new Date().getFullYear() %> Desarrollado por 𝔑𝔞𝔱𝔥𝔞𝔩𝔦𝔢𝔐𝔞𝔩𝔡𝔬𝔫𝔞𝔡𝔬❀ </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
